@charset "UTF-8";

.mainBody {
	text-align: center;
}

.headers {
	color: grey;
	padding: 10px;
	font-family: "Merriweather",serif;
	font-style: italic;
}

.subHeaders {
	color: red;
	text-align: left;
	padding-left: 400px;
	padding-right: 400px;
	font-family: "Merriweather",serif;
}

.subHeaderPara {
	text-align: left;
	padding-left: 400px;
	padding-right: 400px;
	font-weight: 400;
}